<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<body>

<h2>
█████████</br>
█▄█████▄█</br>
█▼▼▼▼▼</br>
█</br>
 telefone!</br>
█▲▲▲▲▲</br>
█████████</br>
 ██ ██</br>

</h2>
<td class="images"></td>
<img src="../../assets/images/telefone.jpg">
<img src="../../assets/images/pica.jpg">
<img src="../../assets/images/nerd.jpg">


<!-- Área de texto -->
<style>
	textarea#test {
		resize: none;
	}
	h2:after {
    content: ' \26F9';
}
</style>
<textarea id="test">A ignorância gera mais frequentemente confiança do que o conhecimento: são os que sabem pouco, e não aqueles que sabem muito, que afirmam de uma forma tão categórica que este ou aquele problema nunca será resolvido pela ciência.</textarea>
<div class="container">
<!-- Final da área de texto -->

	<p>sou lindo</p>
</div>
</body>
<button type="button" onclick="Evento()">
<script>
    function Evento(){
        window.location.href = "https://pt.wikipedia.org/wiki/Connor_Paolo";
    }
</script>
<script type="text/javascript">
function startTime()
{
var today=new Date();
var h=today.getHours();
var m=today.getMinutes();
var s=today.getSeconds();
// adiciona zero na frente de números <10.
m=checkTime(m);
s=checkTime(s);
document.getElementById('txt').innerHTML=h+":"+m+":"+s;
t=setTimeout('startTime()',500);

}

function checkTime(i)
{
if (i<10)
  {
  i="0" + i;
  }
return i;
}
</script>


<div id="txt">
<script type="text/javascript">document.write(startTime())</script>
</div>
<span class="material-icons">
vpn_key
</button>


</span>
</html>
