body {
  padding: 20px; 
  text-align:center;
}

.container {
  width: 165px;
  height: 165px;
  background-color: #0CB1C4;
  animation: spin 10s linear infinite;
}

@keyframes spin {
 0% {
  transform: rotateZ(0deg);
 }
 100% {
  transform: rotateZ(360deg);
 }
}