body {
  padding: 20px; 
  text-align:center;
}

.container {
  width: 90px;
  height: 90px;
  background-color: #0CB1C4;
  animation: spin 10s linear infinite;
}

@keyframes spin {
 0% {
  transform: rotateZ(0deg);
 }
 100% {
  transform: rotateZ(360deg);
 }
}
img:hover{
-ms-transform: rotate(-250deg);
-webkit-transform: rotate(-250deg);
-moz-transform: rotate(-250deg);
-o-transform: rotate(-250deg);
transform: rotate(-250deg);}