<!DOCTYPE html>
<html>
	<head>
		<title>Paolo's server</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
	</head>

	<body>
  	<p class="title">Welcome to PAOLO's server</p>
		<p class="subtitle"><a href="https://github.com/FuvioLinux">Paolo</a></p>
		<p class="subtitle"><a href="http://138.185.60.242:8081/">VP1147</a></a>
		<p class="subtitle"><a href="https://fuviolinux.github.io/site/views/games/jogos.html">Jogos</a></p>
		<p class="subtitle"><a href="https://fuviolinux.github.io/site/views/calculator/calcular.html">Calculadora</a></p>
		<p class="subtitle"><a href="https://fuviolinux.github.io/site/views/texts/texto.html">Textos</a></p>
		<p class="subtitle"><a href="https://fuviolinux.github.io/site/views/horse/cavalo.html">CAVALO</a></p>
		<p class="subtitle"><a href="https://fuviolinux.github.io/site/views/telephone/telefone.html">Telefone</a></p>
		<p class="subtitle"><a href="https://fuviolinux.github.io/site/views/drawing/desenho.html">Desenho</a></p>
		<p class="subtitle"><a href="https://fuviolinux.github.io/site/views/games/jogos3.html">Quiz</a></p>

	</body>
</html>