<!DOCTYPE html>
<html>
	<head>
		<title>Paolo's server</title>
		<link rel="stylesheet" type="text/css" href="styles/global.css">
    <meta charset="utf-8">
	</head>
	
	<body>
		<!--http://127.0.0.1:5501/views/login/dashboard.html-->
		<div>
			<form id="Form" class="box" method="GET" onsubmit="validarLogin()">
			  <h1>Login</h1>
			  <input id="Username" type="text" name="" placeholder="Username">
			  <input id="Password" type="password" name="" placeholder="Password">
			  <input type="submit" name="" value="Login">
			</form>
		</div>
	</body>
	<script src="scripts/validar-senha.js"></script>
</html>