<!DOCTYPE html>
<html>
		<head>
      <title>Paolo's server</title>
      <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
      <div class="slinky">
        <div class="slinky__ring"></div>
        <div class="slinky__ring"></div>
        <div class="slinky__ring"></div>
        <div class="slinky__ring"></div>
        <div class="slinky__ring"></div>
        <div class="slinky__ring"></div>
        <div class="slinky__ring"></div>
        <div class="slinky__ring"></div>
        <div class="slinky__ring"></div>
        <div class="slinky__ring"></div>
        <div class="slinky__ring"></div>
        <div class="slinky__ring"></div>
        <div class="slinky__ring"></div>
      </div>
    </body>
 </html>